


<section class="row">

<section class="span3" id="template_navbar">

  <div id="template_general_navbar">
    <% @subcategories.each do |s| %>
    <p><%= link_to s.title, static_pages_path(category: s.id), remote:true %></p>
    <% end %>
  </div>
  <div id="template_specific_navbar">
    <%= link_to "voltar", remote:true %>
  </div>
</section>

<section class="span9" id="template_index">
  <%= render "templates" %>

</section>



</section>
