

<div id="class_code_div">

<%= form_tag(static_pages_path, method:"get") do %>
<p> Inserir código</p>
<%= text_field_tag(:code, nil, id:"student_code_field") %>
<%= submit_tag(:ok, class:"btn btn-success") %>
<% end %>

</div>
