
	      <% if @data %>
	      <% @data.each do |d| %>
	      <tr>
		 <td style="text-align:center;"><%= d.x.round(0) %></td>
		 <td></td>
		 <td style="text-align:center;"><%= (d.y/1000).round(1) %></td>
		 <td><%= link_to "remover", d, remote: true, method: :delete, confirm: "Pretende remover este ponto?" %></td>
	      </tr>
	      <% end %>
	      <% end %>

