
              <% if @data %>
	      <% @data.each do |d| %>
	      <tr>
		 <td style="text-align:center;"><%= d.x.round(1) %></td>
		 <td></td>
		 <td style="text-align:center;"><%= (d.y/1000).round(1) %></td>
		 <td><%= link_to "remover", data_point_path(d.id, series:@series), remote: true, method: :delete, confirm: "Pretende remover este ponto?", class: "model_remove_data_point_button statue_remove_data_point_button" %></td>
	      </tr>
	      <% end %>
	      <% end %>

