
$('#thermo2_data_collection').html("<%= escape_javascript(render(:partial => 'thermal_capacities_materials/tbody')) %>");

$("#thermo2_time_field").on("keyup", function() {
	 if ($(this).val() == "") {
	     $("#thermo2_energy_calculator").text("0.0");
	     $("#thermo2_energy_field").val("");
	 }
	 else {
	     var t = parseFloat($(this).val());
	     if (t != NaN) {
		  $("#thermo2_energy_calculator").text((Math.round(t*0.5*10)/10).toFixed(1));
		  $("#thermo2_energy_field").val(t*500);
	     }
	 }
    });

if (<%= @data.count > 0 %>) {
$("#thermo2_data_collection_explanation").html("<p>Recolha mais dados ou avance para a tarefa seguinte</p>");

$("#thermo2_data-gathering_next").show();
}
else {
     $("#thermo2_data_collection_explanation").html("<p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem um calorímetro que pode encher com diferentes quantidades de água e aquecer. Os valores indicam o volume de água no calorímetro, o intervalo de tempo que durou o aquecimento e a temperatura da água. </p><p>O aquecimento da água faz-se com uma resistência de 500W, o que permite saber a energia transferida para a água, se registarmos o intervalo de tempo que a resistência esteve ligada.</p><p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>");

$("#thermo2_data-gathering_next").hide();
}

var options = {
     xaxis: { min:0, max: 0.8,
			     tickFormatter: function (v) {
			         if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
     yaxis: { min:0, tickFormatter: function (v) {
				  if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }
    },
    legend: { position: "se", backgroundOpacity: 0},
};

$.plot($("#thermo_graph"), [
    {
     data: <%= @plot_data %>,
     points: { show: true },
     label: "Dados obtidos pelos seus colegas"
     
    },
    {
     data: <%= @user_data %>,
     points: { show: true },
     label: "Dados obtidos por si"
     
    },
    
  ],
    options
  );

$(".float-text").css({left: "-40px"});
$(".flot-y-axis").css({top: "-10px"});

$("#thermo2_volume_field").val("");
$("#thermo2_time_field").val("");
$("#thermo2_energy_calculator").text("0.0");