
	      <% if @data %>
	      <% @data.each do |d| %>
	      <tr>
		 <td style="text-align:center;"><%= d.x.round %></td>
		 <td style="text-align:center;"><%= (d.y).round %></td>
		 <td><%= link_to "remover", d, remote: true, method: :delete, confirm: "Pretende remover este ponto?", class: "statue_remove_data_point_button" %></td>
	      </tr>
	      <% end %>
	      <% end %>

