
#thermo2_temperature_field {
    width: 65px;
}

#thermo2_kJ_field {
    width: 65px;
}

th, td {
   font-size: 0.8em;
   
}

.thermo2_model_cell {
margin: 25px 0;
}

.thermo2_model_formula {
   font-weight: bold;
   font-size: 1.3em;
}

#thermo2_container_subtitles {
	margin: 100px 0 0 -50px;
}

#thermo2_model-choice_next {
display: none;
}

#thermo2_model-choice_instructions {
	visibility:hidden;
}
