// Place all the styles related to the thermal_capacities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
     -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	      background: rgb(66, 78, 78);
}

.thermo_strategy, .data-gathering, .model-choice, .questions, .background {
	     display:none;
}

.paper_img {
display:none;
}

.monitor {
letter-spacing:3px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 20px;
   text-align: left;
   margin: 3px auto;
   padding: 5px;
   border: 2px solid #444488;
   width: 120px;
   text-align: center;
   
}

canvas {
	display: inline-block;
	margin-left: 50px;
}

#volume_slider {
		 width: 135px;
		 margin: 3px auto;
}

#controls {
	   position: relative;
	   top: -150px;
	   display: inline-block;
}

.thermo_button {

     width: 80px;
}

.thermo_data_form {
      display: inline-block;
      background: #FFF;
padding: 10px;
border: 2px solid black;
box-shadow: 0 0 8px black;
border-radius: 10px;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	display: none;
}

.thermo_input {
	width: 60px;
	background: #aaaaaa;
}

.thermo_animation {
display: inline-block;
background: #FFF;
border-radius: 10px;
border: 2px solid black;
width: 642px;
margin-bottom: 30px;
box-shadow: 0 0 8px black;
}



#thermo_energy_calculator {
    text-align: center;
    vertical-align: middle;
}

#thermo_graph {
	width: 500px;
height: 400px;
	 margin-left: 40px;
}

#thermo_y_label {
		  float:left;
		  margin-top: 200px;
}
#thermo_x_label {
		  margin: 30px 300px;
		  width: 100px;
}

.thermo_navigator {
float: right;
}

.thermo_model_buttons {
	float: right;
	margin: 20px 10px 0 0;
	width: 480px;
	height: 280px;
	background: #FFF;
	border: 2px solid black;
	box-shadow: 0 0 8px black;
	border-radius: 10px;
	padding: 5px;

	.btn-group {
	   margin: 10px 0 10px 51px;
	}	
}

.thermo_slider_controls {
	width: 120px;
}


.thermo_function_controls {
	display: none;
	
}

.thermo_function_controls> div {
 	display:inline-block;
       text-align:center;
	margin: 10px 15px;
}
.thermo_function_controls_label {
 	margin: 10px;
       
}

.thermo_button {
 	width: 100px;
       
}

#thermo_chosen_model_div {
	display: none;
	position: relative;
	float:left;
	margin-top: 70px;
	text-align: center;
	width: 250px;
	
	span {
	font-weight: bold;
	font-size: 1.4em;
	}	
	div {
	margin: 5px;
	color: #777;
	font-size: 1.2em;
	}		
}

#thermo_confirm_model_button_div {
    display: none;
    position: relative;
	float:right;
	margin-top: 70px;
	margin-right: 20px;
}

#thermo_data_collection_explanation {
    margin-top: 80px;
}


#thermo_strategy_div {
	width: 500px;
margin: 100px auto 0px auto;
background: #FFFFFF;
border: 2px solid black;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 8px black;
}		   

#thermo_add_data_point_button {
	vertical-align: middle;
	margin-top: -32px;
}

#thermo_background_div {
    background: #FFF;
border: 2px solid black;
border-radius: 10px;
box-shadow: 0 0 8px black;
width: 500px;
padding: 30px;
margin: 100px auto 50px auto;

    h1 {
       margin-bottom: 20px;
    }   
}

#thermo_graph_div {
background: #FFF;
width: 600px;
height: 500px;
border-radius: 10px;
border: 2px solid black;
box-shadow: 0 0 8px black;
padding: 10px;
}