

body {
    
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	      
}

.thermo_strategy, .data-gathering, .model-choice, .questions,  .hidden_section {
	     display:none;
}



.monitor {
letter-spacing:3px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 20px;
   text-align: left;
   margin: 3px auto;
   padding: 5px;
   border: 2px solid #444488;
   width: 120px;
   text-align: center;
   
}

canvas {
	display: inline-block;
	margin-left: 10px;
}

#volume_slider {
		 width: 135px;
		 margin: 3px auto;
}

#controls {
	   width: 120px;
	   position: relative;
	   top: -150px;
	   display: inline-block;
}



.thermo_data_form {
 margin-left: 0px;     
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	display: none;
}

.thermo_input {
	width: 60px;
	background: #aaaaaa;
}




#thermo_energy_calculator {
    text-align: center;
    vertical-align: middle;
}

#thermo_graph {
	width: 420px;
	height: 360px;
	 margin-left: 0px;
}

#thermo_y_label {
		  float:left;
		  margin-top: 200px;
		  margin-left:-40px;
}
#thermo_x_label {
		  margin: 0px 215px;
		  width: 100px;
		  
}

.thermo_navigator {
float: right;
}

.thermo_model_buttons {
	float: right;
	margin: 20px 10px 0 0;
	width: 464px;
	padding: 5px;

	.btn-group {
	   margin: 10px 0 10px 51px;
	}	
}

.thermo_slider_controls {
	width: 120px;
}


.thermo_function_controls {
	display: none;
	
}

.thermo_function_controls> div {
 	display:inline-block;
       text-align:center;
	margin: 10px 15px;
}
.thermo_function_controls_label {
 	margin: 10px;
       
}



#thermo_chosen_model_div {
	position: relative;
	float:left;
	margin-top: 70px;
	text-align: center;
	width: 250px;
	
	span {
	font-weight: bold;
	font-size: 1.4em;
	}	
	div {
	margin: 5px;
	color: #777;
		}		
}

#thermo_confirm_model_button_div {
    position: relative;
	float:right;
	margin-top: 70px;
	margin-right: 20px;
}

#thermo_data_collection_explanation {
    
}


#thermo_strategy_div {
	width: 500px;
margin: 30px auto 0px auto;
padding: 20px;
}		   

#thermo_add_data_point_button {
	vertical-align: middle;
	margin-top: -32px;
}

#thermo_background_div {
    
width: 500px;
padding: 30px;
margin: 30px auto 10px auto;

    h1 {
       margin-bottom: 20px;
    }   
}

#thermo_graph_super_div {
	  div {
	  padding: 5px;
}
}

#thermo_questions_div {
margin: 20px auto;

}

textarea {
	  resize: none;
	  width: 90%;
	  height: 80px;
	  margin: 0 auto 30px auto;
}

#thermo_question_screen2 {
			    display: none;
			    margin: auto;
			    margin-bottom: 30px;
			    }		  



.legendLabel {
	font-size: 0.7em;
}


.float-text {
	
}

.float-x-axis {
		margin-left:-40px;
}

.thermo_animation {
    .btn-group {
       right: -25px;
}
}