<%= form_tag("#", id:"teacher_graph_form") do %>
    <% @answers.each_with_index do |a,index| %>
    <div class="userbox">
      <%= check_box_tag(a.id, 1, checked:true) %>
      <%= label_tag a.id, a.user.name, class:"checkbox inline", data:{color:index} %>
    </div>
    <% end %>
    
    <% end %>
