<%= render "layouts/navbar" %>


<div class="row">
  <div class="span10" id="ptolemy_dashboard">
    <%= render "dashboard" %>
  
  </div>
  
  <div class="span3" >
    <%= link_to "voltar", teacher_path(current_user.id) %>
  </div>
</div>
