<%= render "layouts/navbar" %>

<div class="row">
  <div class="span3" id="teacher_graph_names">
    <%= render "graph_names" %>
  </div>
  <div class="span6">
    <div class="graph_div" id="teacher_graph_div"></div>
  </div>
  <div class="span3">
    <div id="activity_point_info"></div>
  </div>
</div>
<div class="row">
  <div class="span10" id="ptolemy_dashboard">
    <%= render "dashboard" %>
  
  </div>
  
  <div class="span3" >
    <%= link_to "voltar", teacher_path(current_user.id) %>
  </div>
</div>
